@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: hsl(0, 0%, 86%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.calculator {
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px 10px 100px 10px;
  width: 800px;
  padding: 45px;
}

.fields-container {
  display: flex;
  column-gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.label {
  color: hsl(0, 1%, 44%);
  font-weight: 700;
}

.input {
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px;
  max-width: 150px;
}

.input::placeholder {
  color: hsl(0, 1%, 44%);
}

.error-msg {
  color: hsl(0, 100%, 67%);
  font-size: 0.85rem;
  visibility: hidden;
}

.submit-form-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -15px;
}

.submit-form-container::before {
  content: " ";
  background-color: hsl(0, 0%, 86%);
  height: 1.5px;
  width: 100%;
}

.submit-btn {
  background-color: hsl(259, 100%, 65%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 70px;
  width: 75px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: hsl(0, 0%, 0%);
}

.result {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 700;
  margin-top: -20px;
}

.definition {
  color: hsl(259, 100%, 65%);
}

.term {
  color: hsl(0, 0%, 0%);
}
