@media only screen and (max-width: 600px) {
  .calculator {
    padding: 30px;
  }

  .submit-form-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 15px 0;
    width: 100%;
  }

  .submit-form-container::after {
    content: " ";
    background-color: hsl(0, 0%, 86%);
    height: 1.5px;
    width: 100%;
  }
}
